.button1 {
  background-color: #4CAF50;
  margin: 2px 2px;
  border-radius: 2px;
  margin-right: 2px;
  padding: 2px;
  width: 80px;
}

.button3 {
  margin: 4px 2px;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  width: 200px;
}

.column {
  float: left;
  width: 100%;
}

h2 {
  color: blue;
}

h4 {
  color: black;
}
